<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item href="#" (click)="sidenav.close()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-caption">My Workouts</span>
      </a>
      <a mat-list-item href="#" (click)="sidenav.close()">
        <mat-icon>library_books</mat-icon>
        <span class="nav-caption">My Library</span>
      </a>
      <a mat-list-item href="#" (click)="sidenav.close()">
        <mat-icon>person</mat-icon>
        <span class="nav-caption">My Profile</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button color="accent" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><a href="#">LOGO</a></div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="50px" class="navigation-items">
          <li><a href="#">My Workouts</a></li>
          <li><a href="#">Workout Library</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <p>AppComponent works!</p>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
